header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: thin solid black;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}

a {
  color: black;
}

nav {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-right: 30px;
}

nav span {
  display: flex;
  display: inline-block;
  padding: 10px 10px;
}

div {
  border: 1px solid black;
  display: block;
}

.content {
  display: flex;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
